.image {
    width: 100%;
    height: 600px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 48px;
    background-image: url("https://www.apple.com/v/home/be/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_large.jpg");
}

.Header {
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 60px;
    margin-top: -60px;
}

.Header .info {
    color: white;
    top: 170px;
    position: absolute;
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 54px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    margin: 0;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
    margin-bottom: 20px;
}

span a {
    color: #2997ff;;
    bottom: 440px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 20px;
}

span a:hover {
    text-decoration: underline;
}

span .learn {
    margin-left: -10px;
}

span a i {
    font-size: 12px;
    margin-left: 6px;
}